.title {
  font-family: 'Gilroy', sans-serif;
  font-size: 85px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: 0;
  
  @media(max-width: 800px) {
    font-size: 40px;
    line-height: 42px;
  }
}

.step-title {
  font-family: 'Gilroy', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0;

  @media(max-width: 800px) {
    font-size: 36px;
    line-height: 38px;
  }
}

.text {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;

  @media(max-width: 800px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.card-title {
  font-family: 'Gilroy', sans-serif;
  font-size: 75px;
  font-weight: 500;
  line-height: 79px;
  letter-spacing: 0;

  @media(max-width: 800px) {
    font-size: 64px;
    line-height: 67px;
  }
}

.card-text {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;

  @media(max-width: 800px) {
    font-size: 14px;
    line-height: 15px;
  }
}

.tabs-text {
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0;
  
  @media(max-width: 800px) {
    font-size: 16px;
    line-height: 17px;
  }
}

.card-price-text {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  @media(max-width: 800px) {
    font-size: 14px;
    line-height: 14px;
  }
}